.content{
 width: 100%;
 background: #F7F7F7;
 }

.right_content{
 width:80%;
 position:absolute;
 top: 0;
 right: 0; 
 }

.top_metrics {
 background: #EAEAEA;
 height: 50px;
 width:100%;
 position:relative;
 top: 0;
 right: 0;
 }

.left_menu {
 width: 20%;
 position: absolute;
 top: 0;
 left: 0;
 height: 300vh;
 z-index: 999;
 background: #2A3F54;
 color: #F7F7F7;
}

.Select--multi .Select-value {
    background-color: white;
    color: black;
}
